
@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre&family=Roboto:wght@400;700&display=swap');


body {
	padding: 0;
	margin: 0;
	font-family: 'Gemunu Libre', sans-serif;
	font-size: 12px;
	color: #EFF8FD;
	background-color: #395A71;
}

* {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
}

h1 {
	font-size: 100px;
	margin-bottom: 10px;
}

h2 {
	font-size: 80px;
	margin-bottom: 45px;

}

h3 {
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	margin-bottom: 45px;

}


p {
	font-family: 'Roboto', sans-serif;
	font-size: 25px;
	margin-top: 0;
	margin-bottom: 90px;
}

.container {
	width: 1156px;
	margin: 0 auto; 
}

#app1 {
	background: url(header-bg.jpg) no-repeat center center fixed;
	min-height: 100%;
	min-width: 100%;
	-moz-background-size: cover; 
	-webkit-background-size: cover;
	-o-background-size: cover; 
	background-size: cover;
	/*padding-top: 206px; */
	color: #EFF8FD;
	padding-bottom: 322px;
}

router-link {
	color: #EFF8FD;
}

router-link:visited {
	color: #EFF8FD;
}

a {
	color: #EFF8FD;
}

a:visited {
	color: #EFF8FD;
}

.btn {
	width: 255px;
	height: 70px;
	display: inline;;
	font-size: 20px;
	text-align: center;
	letter-spacing: 0.1em; 
	padding: 17px 47px;
	border: 2px solid #395A71;
	transition: all 0.5s ease;
	border-radius: 10px;
	text-decoration: none;
}

.btn:hover {
	background: #2482BF;
    color: #395A71;
    text-decoration: none;
}





button{
    width: 255px;
	height: 70px;
	display: inline;
	font-size: 20px;
	text-align: center;
	letter-spacing: 0.1em; 
	padding: 17px 47px;
	border: 2px solid #395A71;
	transition: all 0.5s ease;
	border-radius: 10px;
	text-decoration: none;
	justify-content: center;
    margin: 50px 0 auto 0;
}

button:hover {
	background: #2482BF;
    color: #395A71;
    text-decoration: none;
    margin: 0 auto; 
}

button:visited {
	background: #2482BF;
    color: #395A71;
    text-decoration: none;
    margin: 0 auto; 
}
#login {
	padding: 20px 70px 20px 70px;
	margin-right: 70px;
	text-decoration: none;
}
#tr{
	padding: 20px 32px 20px 32px;
}